{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site footer

	Description:

		Contact info, form, and footer.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Contact -->
 	
<section id="contact-trigger" class="wrapper no-bottom-pad ">
    <div class="inner ">
                  	
      <h2>Get in touch</h2>
      <blockquote class="emph"> If you are thinking about trying Tai Chi, now is probably the best time to take action, so please get in touch to book in for a class or for a friendly chat. If you just want advice, that is absolutely fine.
                    </blockquote>
   
    </div>
</section>
    
<!--<section id="contact" class="wrapper split">-->
<section  class="wrapper content-pad split no-top">
		<div class="inner" id="contact">
            <section>
                 
              
				<ul class="bulleted-icons">
                                        <li>
						<span class="icon-wrapper"><span class="icon fa-phone"></span></span>
						<h3>Phone</h3>
						<p><a href="tel:+44-02920-206042">02920 206042</a></p>
					</li>
                                        <li>
						<span class="icon-wrapper"><span class="icon fa-mobile-phone"></span></span>
						<h3>Mobile</h3>
						<p><a href="tel:+44-077726576923">07772 657692</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-whatsapp"></span></span>
						<h3>Whats App</h3>
						<p><a href="https://wa.me/4407772657692">Click to what's app us</a></p>
					</li>
                                        <li>
						<span class="icon-wrapper"><span class="icon fa-envelope"></span></span>
						<h3>Email</h3>
						<p><a href="mailto:info@shibashi.com">info@shibashi.com</a></p>
					</li>
					


				</ul>
			</section>
			<section>
			
                            {% include contact-form.html %}
                            
			</section>
		
		</div>
	</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<p class="copyright">&copy; {{ site.time | date: '%Y' }} Rising Phoenix Tai Chi. All rights reserved .</p>
			<ul class="menu">
				<li><a href="/privacy-policy.html">Privacy<span> Policy</span></a></li>
			</ul>
		</div>
	</footer>